/* Base */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*   {
    box-sizing: border-box;
}

*:focus     {
    outline: 0;
}

body    {
    font-family: 'Roboto', sans-serif;
}

a   {
    text-decoration: none;
}

h1, h2  {
    color: #333;
}

p   {
    color: #70747A;
}

/* Navbar */
.navbar-container   {
    background-color: #232A31;

    height: 80px;

    padding: 0 2em;

    position: relative;

    width: 100%;
}

nav     {
    align-items: center;

    display: flex;

    height: 100%;

    justify-content: space-between;
}

.logo   {
    width: 50px;
}

.navbar-items   {
    display: flex;

    gap: 20px;
}

.navbar-items li    {
    text-transform: uppercase;
}

.navbar-items li a  {
    color: #FFFFFF;

    transition: .5s;
}

.navbar-items li a:hover    {
    color: #CCC;
}

.navbar-items li .default-btn    {
    background-color: #FFFFFF;

    border: 3px solid #2CC76A;

    border-radius: 5px;

    color: #2CC76A;

    padding: 15px 20px;

    transition: .5s;
}

.navbar-items li .default-btn:hover  {
    background-color: #2CC76A;

    color: #FFFFFF;
}

/* Banner */
.main-banner    {
    background-image: url(../img/mainbanner.png);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    height: calc(100vh - 80px);

    width: 100%;
}

.overlay    {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;

    flex-direction: column;

    gap: 20px;

    height: 100%;

    justify-content: center;

    width: 100%;
}

.main-banner h1, .main-banner p {
    color: #FFFFFF;

    font-weight: 700;

    text-align: center;
}

.main-banner h1 {
    font-size: 64px;
}

.main-banner p  {
    font-size: 32px;
}

/*  Especialidades */
.specialties-container  {
    display: flex;

    justify-content: center;

    padding: 5em 0;
}

.specialties-container ul  {
    align-items: center;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    width: 90%;
}

.specialties-container ul li    {
    display: flex;

    flex: 1 1 200px;

    flex-direction: column;

    gap: 20px;

    padding: 20px;

    text-align: center;
}

.specialties-container ul li i     {
    font-size: 60px;
}

.fa-shield-halved   {
    color: #2CC76A;
}

.fa-rocket  {
    color: #EF3F29;
}

.fa-comments    {
    color: #EF8F29;
}

.specialties-container ul li h2     {
    font-size: 20px;
}

.specialties-container ul li p  {
    font-size: 14px;

    line-height: 24px;
}

/* Preços */
.pricing-container  {
    align-items: center;

    display: flex;

    flex-direction: column;

    gap: 20px;

    justify-content: center;

    margin-bottom: 20px;
}

.pricing-container h2   {
    font-size: 36px;
}

.pricing-container p   {
    font-size: 20px;
}

.plans-container    {
    display: flex;

    flex-wrap: wrap;

    gap: 50px;

    justify-content: center;

    margin-top: 30px;

    width: 90%;
}

.plan   {
    flex: 1 1 200px;

    max-width: 275px;
}

.plan ul   {
    align-items: center;

    display: flex;

    flex-direction: column;
}

.plan li    {
    background-color: #E8E9EA;

    color: #333;

    height: 50px;

    line-height: 50px;

    text-align: center;

    width: 100%;
}

.plan .price    {
    background-color: #2CC76A;

    color: #FFFFFF;

    border-radius: 50%;

    height: 120px;

    line-height: 120px;

    margin-bottom: -50px;
    
    position: relative;

    text-align: center;

    width: 120px;
}

.plan .recommended-price    {
    background-color: #F45C57;
}

.plan .plan-name    {
    background-color: #202B34;

    color: #FFFFFF;

    font-size: 20px;

    font-weight: 700;

    padding: 60px 0;

    text-transform: uppercase;
}

.plan .plan-btn   {
    background-color: #FFFFFF;

    border: 2px solid #2CC762;

    color: #2CC762;

    cursor: pointer;

    font-size: 24px;

    height: 75px;

    line-height: 75px;
}

.plan .plan-btn:hover   {
    background-color: #2CC762;

    color: #FFFFFF;
}

.plan .recommended-btn   {
    border: 2px solid #F45C57;

    color: #F45C57;
}

.plan .recommended-btn:hover   {
    background-color:  #F45C57;

    color: #FFFFFF;
}