/*  Base */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*   {
    box-sizing: border-box;
}

*:focus     {
    outline: 0;
}

*::placeholder  {
    color: #8B8AA2;
}

body    {
    font-family: 'Roboto', sans-serif;
}

a   {
    text-decoration: none;
}

/* Sidebar */
.sidebar    {
    align-items: center;

    background-color: #E25B8F;

    display: flex;

    flex-direction: column;

    gap: 50px;

    height: 100vh;

    padding-top: 40px;

    position: fixed;

    width: 400px;
}

.logo   {
    align-items: center;

    display: flex;

    flex-direction: column;

    gap: 30px;
}

.logo img   {
    width: 150px;
}

.logo h1   {
    color: #FFFFFF;

    font-family: 'Pacifico', cursive;

    font-size: 32px;
}

.menu   {
    width: 100%;
}

.menu ul    {
    display: flex;

    flex-direction: column;

    gap: 30px;
}

.menu li    {
    height: 60px;

    line-height: 60px;
}

.menu li a  {
    color: #FFFFFF;

    display: block;

    font-size: 22px;

    font-weight: 500;

    padding-left: 80px;

    transition: 0.5s;
}

.menu li a:hover  {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Content */
.content    {
    left: 400px;

    position: absolute;

    width: calc(100% - 400px);
}

.content h2   {
    color: #E25B8F;

    padding-bottom: 30px;
}

section {
    padding-left: 50px;
}

/* Content - Seção Início */
#secao-inicio   {
    padding-left: 0;
}

#secao-inicio::after, #secao-sobreNos::after    {
    clear: both;

    content: "";

    display: block;

    margin-bottom: 100px;
}

#secao-inicio .banner   {
    background-image: url(../img/banner2.jpg);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    height: 600px;
}

#secao-inicio  .secao-content  {
    padding-left: 50px;
}

.secao-content h2, .secao-content h2      {
    font-weight: 500;

    margin-top: 70px;

    font-size: 48px;
}

.secao-content .mini-banner   {
    background-image: url(../img/banner3.jpg);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    float: left;

    height: 400px;

    width: 300px;
}

.secao-content .description   {
    display: flex;

    flex-direction: column;

    gap: 30px;

    left: 370px;

    padding-right: 40px;

    position: absolute;
}

.secao-content .description p    {
    font-size: 18px;

    line-height: 2;

    margin-left: 25px;

    text-align: justify;
}

.secao-content .description a, form input[type=submit]     {
    background-color: #FFFFFF;

    border: 2px solid #E25B8F;

    border-radius: 5px;

    color: #E25B8F;

    cursor: pointer;

    font-size: 20px;

    margin-left: 25px;

    padding: 20px;

    text-align: center;

    transition: .5s;

    width: 200px;
}

.secao-content .description a:hover, form input[type=submit]:hover   {
    background-color: #E25B8F;

    color: #FFFFFF;
}

/* Content - Seção Sobre nós */
#secao-sobreNos .mini-banner  {
    background-image: url(../img/banner4.jpg);

    float: right;

    margin-right: 50px;
}

#secao-sobreNos .description    {
    left: 25px;

    width: calc(100% - 400px);
}

/* Content - Seção Doces */
#secao-doces1 h2, #secao-doces2 h2, #secao-doces3 h2, #secao-contato h2    {
    font-size: 36px;

    font-weight: 500;
}

#secao-doces1, #secao-doces2, #secao-doces3    {
    padding-right: 50px;

    margin-bottom: 80px;
}

.gallery    {
    display: flex;

    justify-content: space-between;
}

.gallery-image  {
    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    height: 200px;
}

#image-1, #image-2, #image-3, #image-4, #image-5     {
    width: 18.8%;
}

#image-1    {
    background-image: url(../img/galeria1.jpg);
}

#image-2    {
    background-image: url(../img/galeria2.jpg);
}

#image-3   {
    background-image: url(../img/galeria3.jpg);
}

#image-4    {
    background-image: url(../img/galeria4.jpg);
}

#image-5    {
    background-image: url(../img/galeria5.jpg);
}

#image-6, #image-7, #image-8     {
    width: 32.3%;
}

#image-6    {
    background-image: url(../img/galeria6.jpg);
}

#image-7   {
    background-image: url(../img/galeria7.jpg);
}

#image-8    {
    background-image: url(../img/galeria8.jpg);
}

#image-9, #image-10, #image-11, #image-12     {
    width: 23.9%;
}

#image-9    {
    background-image: url(../img/galeria9.jpg);
}

#image-10   {
    background-image: url(../img/galeria10.jpg);
}

#image-11   {
    background-image: url(../img/galeria11.jpg);
}

#image-12   {
    background-image: url(../img/galeria12.jpg);
}

/* Content - Seção Contato */
#secao-contato form     {
    width: 700px;
}

#secao-contato form input[type=text], #secao-contato form input[type=email], #secao-contato form textarea    {
    border: 2px dashed #8B8AA2;

    color: #8B8AA2;

    display: block;

    font-size: 20px;

    padding: 10px;

    margin-bottom: 20px;

    width: 100%;
}

#secao-contato form textarea {
    height: 300px;
}

#secao-contato form input[type=text]:focus, #secao-contato form input[type=email]:focus, #secao-contato form textarea:focus {
    border-color: #E25B8F;
} 

/* Footer */
footer  {
    color: #8B8AA2;

    font-size: 20px;

    font-weight: 700;

    padding: 100px;

    text-align: center;
}